<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash;    Image upload start&ndash;&gt;-->
<!--    <form method="post" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--        {{ form.document }}-->
<!--        <button type="submit">Upload</button>-->
<!--    </form>-->

<!--    {% if post %}-->
<!--    <img src="{{ post.document.url }}" alt="">-->
<!--    {% endif %}-->

<!--    <p><a href="/dface">Return to home</a></p>-->

<!--</body>-->
<!--</html>-->


<!-- WEBTECH PROJECT
TOPIC: TECH BLOG WITH ADMIN PANEL IN PHP
Team Members:	-Anubhav
				-Kenny
				-Aavez
				-Ryan
 -->
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Homepage</title>

	<!-- Bootstrap Files -->
	<!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Stylesheet -->
	{% load static %}
	<link rel="stylesheet" href="{% static '/style.css' %}">
	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/ca0905f6a5.js"></script>
	<!-- TechSavvy Font -->
	<link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet">
	<!-- Headings Blog -->
	<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
	<!-- Paragraph Blog -->
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap" rel="stylesheet">



</head>
<body>
	<!-- Class Blog = Main Div Except Footer -->

	<div class="blog">
		<!-- Navbar -->
		<div class="container">
			<nav class="navbar navbar-expand-md navbar-light bg-dark">
			  <a class="navbar-brand" href="#"><i class="fas fa-laptop-code"></i> Train | Test | Predict</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto float-right">
			      <li class="nav-item">
			        <a class="nav-link" href="#">DASHBOARD</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">HOW TO START</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">START ML</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">CONTACT</a>
			      </li>

			    </ul>
			  </div>
			</nav>
		</div>
		<!-- Navbar Ends -->
		<center>
			<div class="main-heading">
				<h1>
					WELCOME TO ALPHACODE SMART PORTAL
				</h1>
				<p>
					Provide us any famous celebrity image and we will predict his/her <strong>NAME</strong>. Main aim of this project to recognise the famous celebrity using image provided by user.
				</p>

			</div>
			<!-- <div class="getstarted">
				<a href="#" class="btn btn-md">Get Started</a>
			</div> -->

			<div class="input-form">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group">
						{{ form.document }}
					</div>
					<button type="submit" class="btn btn-primary">PREDICT NOW</button>

				</form>
			</div>
			{% if post %}
			<img src="{{ post.document.url }}" alt="">
			{% endif %}

			<br>
            <a href="/dface" class="btn btn-sm">Return to home</a>
		</center>


	</div>


	<!-- Script Files -->
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>